spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  application:
    name: hackathon-api
  data:
    web:
      pageable:
        one-indexed-parameters: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATA_SOURCE_URL}
    username: ${SPRING_CONFIG_POSTGRES_USER}
    password: ${SPRING_CONFIG_POSTGRES_PASSWORD}
  jpa:
    show-sql: true
    open-in-view: false
    database-platform: 'org.hibernate.dialect.PostgreSQLDialect'
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      ddl-auto: none
server:
  port: ${SPRING_SERVER_PORT}
